<?php

/* piwik_tracking server */
$rcmail_config['piwik_tracking_server'] = 'example.com';

/* piwik_tracking server (this number will show up in your url-bar as ...&idSite=X... or when you go to generate the tracking js code */
$rcmail_config['piwik_tracking_siteid'] = '3';

/* piwik_tracking for subdomains-cookies: (e.g.) 'example.com' will put a cookie on <any_subdomain>.example.com */
$rcmail_config['piwik_tracking_subdomain'] = 'example.com';

/* exclude private pages - tracking will works only for non-logged users */
$rcmail_config['piwik_tracking_privacy'] = FALSE;

/* default is use EXCLUDE array to specify allowed templates */
$rcmail_config['piwik_tracking_excluding'] = TRUE;

/* include following templates */
$rcmail_config['piwik_tracking_include'] = array(
  'login'
);

/* exclude following templates */
$rcmail_config['piwik_tracking_exclude'] = array(
  'message',
  'messagepreview',
  'compose',
  'editidentity',
  'editcontact',
  'showcontact'
);

//  Possible templates:

//  'message',
//  'messagepart',
//  'messagepreview',
//  'messageerror',
//  'showcontact',
//  'addcontact',
//  'editcontact',
//  'importcontacts',
//  'addressbook',
//  'compose',
//  'editidentity',
//  'error',
//  'identities',
//  'login',
//  'mail',
//  'managefolders',
//  'plugin',
//  'settingsedit',
//  'settings',

?>
