<?php
/**
 * Candango Roundcube Matomo plugin
 *
 * @link      http://github.com/candango/matomo_analytics_rc
 * @copyright Copyright (c) 2018 - 2021 Flavio Garcia
 * @license   https://www.apache.org/licenses/LICENSE-2.0  Apache-2.0
 */

/* matomo_analytics_rc server */
// Use // for both http or https but it is recommended to use https
// $rcmail_config['matomo_analytics_rc_server'] = "//example.com";
// Use http if your server runs only on http instead
// Https is better
$rcmail_config['matomo_analytics_rc_server'] = "https://example.com";

/* matomo_analytics_rc id (this number will show up in your url-bar as
   ...&idSite=X... or when you go to generate the tracking js code */
$rcmail_config['matomo_analytics_rc_id'] = "1";

/* matomo_analytics_rc for subdomains-cookies: (e.g.) "example.com"
   will put a cookie on <any_subdomain>.example.com */
// TODO: subdomain is not working, need some work on the plugin side
$rcmail_config['matomo_analytics_rc_subdomain'] = "example.com";

/* exclude private pages - tracking will works only for non-logged users */
$rcmail_config['matomo_analytics_rc_privacy'] = FALSE;

/* default is use EXCLUDE array to specify allowed templates */
$rcmail_config['matomo_analytics_rc_excluding'] = TRUE;

/* include following templates */
$rcmail_config['matomo_analytics_rc_include'] = array(
  'login'
);

/* exclude following templates */
$rcmail_config['matomo_analytics_rc_exclude'] = array(
  'message',
  'messagepreview',
  'compose',
  'editidentity',
  'editcontact',
  'showcontact'
);

//  Possible templates:

//  'message',
//  'messagepart',
//  'messagepreview',
//  'messageerror',
//  'showcontact',
//  'addcontact',
//  'editcontact',
//  'importcontacts',
//  'addressbook',
//  'compose',
//  'editidentity',
//  'error',
//  'identities',
//  'login',
//  'mail',
//  'managefolders',
//  'plugin',
//  'settingsedit',
//  'settings',
